 body,

        html {
            height: 100vh;
            margin: 0;
         }

         *{
             margin:0px;
             padding: 0px;
             box-sizing: border-box;
         }

         nav{
             display: flex;
             justify-content: space-around;
             align-items: center;
             min-height: 8vh;
             background-color: rgb(248, 181, 98);
         }

         .logo{
             color: white;
             text-transform: uppercase;
             letter-spacing: 5px;
             font-size: 20px;
         }
         .nav-links{
             display: flex;
             justify-content: space-around;
             width: 40%;
         }

         .nav-links li{
             list-style: none;
         }
         .nav-links a{
             color: white;
             text-decoration: none;
             letter-spacing: 3px;
             font-weight: bold;
             font-size: 18px;


         }
                 /*hides menu item, for small screens*/

         .burger{
             display: none;
             cursor: pointer;
            
         }


         .burger div{
             width: 25px;
             height: 3px;
             background-color: white;
             margin: 5px;

         }

         @media screen and (max-width:1024px){
             .nav-links{
                 width:60%;
             }
         }

         @media screen and (max-width:768px){
            /* html, body {
                overflow-x: hidden;
              } */
             .nav-links{
                 position: absolute;
                 right: 0px;
                 height: 92vh;
                 top: 8vh;
                 background-color: rgb(248, 181, 98);
                 display: flex;
                 flex-direction: column;
                 align-items: center;
                 width: 50%;
                 transform: translateX(100%);
                 transition: transform 0.5s ease-in;

             }
             .nav-links li{
                 opacity:0;
             }
             .burger{
                 display: block;
             }
         }
         .nav-active{
             transform: translateX(0%);
         }

         @keyframes navLinkFade{
             from{
                 opacity: 1;
                 transform: translateX(50px);
             }
             to{
                 opacity: 1;
                 transform: translateX(0px);
             }
         }

         .toggle .line1{
             transform: rotate(-45deg) translate(-5px,6px);
         }
         .toggle .line2{
            opacity: 0px;
         }
         .toggle .line3{
            transform: rotate(45deg) translate(-5px,-6px);

         }
        
        body {
            
            height: 100vh; 
            text-align: center;
            color: #fff;
            background-image: url('technole/images/landingimage.png');
            background-position: center;
            background-attachment: fixed;
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
            font-family: "Courier New", Courier, monospace;
            font-size: 25px;
            list-style: none;
            
        }





        
        /* orange menu box */
        ul{
            margin: 0px;
            padding: 0px;
            list-style: none;
        }
        /* social media icons */
         .fa { 
             padding: 30px;
             font-size: 40px; 
             width: 20px; 
             text-align: center; 
             text-decoration: none; 
             border-radius: 50%; 
         }  
        /*hover effect*/
        
        .fa:hover {
            opacity: 0.7;
        }
        
        * {
            color: #fff;
            text-decoration: none;
         } 
        
       
		
		
        /* padding in betwwen buttons*/
        
         div.fa {
            padding-top: 10px;
            font-size: 30px;
            width: 50px;
            text-align: center;
            text-decoration: none;
        } 
        /* hover effect */
        
         .fa:hover {
            opacity: 0.7;
        }
        
        #content {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateY(-50%) translateX(-50%);
            text-align: center;
            widows: 500px;
        }
         
